<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h1>Blog list</h1>
<p>
    <a href="/blogers/create-blog">Create new blog</a>
</p>
<form action="/blogers/search" style="margin-bottom: 5px;width: 25%">
    <input type="text" name="nameSearch" placeholder="...Input search name blog">
    <input type="submit" value="Search">
</form>
<table class="table table-dark"  border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Content</th>
        <th>Author</th>
        <th>Category</th>
        <th>DateCreate</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.category.name}"></td>
            <td th:text="${blog.date}"></td>
            <td><a class="btn btn-danger" th:href="@{/blogers/edit-blog/__${blog.id}__}">edit</a></td>
            <td><a class="btn btn-danger" th:href="@{/blogers/delete-blog/__${blog.id}__}">delete</a></td>
            <td><a class="btn btn-danger" th:href="@{/blogers/view-blog/__${blog.id}__}">view</a></td>
        </tr>
    </th:block>
    </tbody>
</table>

<div>
    <a th:href="@{'/blogers/search'(page=${blogs.number - 1},nameSearch=${nameSearch})}"
       th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number+1}"></span>
    <span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/blogers/search'(page=${blogs.number + 1},nameSearch=${nameSearch})}"
       th:if="${blogs.hasNext()}">Next</a>

</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>